<ion-view title="Explore">
  <ion-content class="padding">
  	<div class="ft-block">
  		<h3>Hello</h1>
  		<p>Lorem ipsum</p>
  	</div>
  	<div class="ft-block">
  		<h3>Hello</h1>
  		<p>Lorem ipsum</p>
  	</div>
  	<div class="ft-block">
  		<h3>Hello</h1>
  		<p>Lorem ipsum</p>
  	</div>
  	<div class="ft-block">
  		<h3>Hello</h1>
  		<p>Lorem ipsum</p>
  	</div>
  	<div class="ft-block">
  		<h3>Hello</h1>
  		<p>Lorem ipsum</p>
  	</div>
  	<div class="ft-block">
  		<h3>Hello</h1>
  		<p>Lorem ipsum</p>
  	</div>
  </ion-content>
</ion-view>
